<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [426, 240];
        Dashing.numColumns = 3;
    });
</script>

<% content_for :title do %>All time contributions<% end %>

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="talOpenPullRequests" data-view="Number" data-title="Open pull requests (TAL)" style="background-color: #2e49f7"></div>
        </li>

        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="talMergedPullRequests" data-view="Number" data-title="Merged pull requests (TAL)" style="background-color: #2e49f7"></div>
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="talPullRequestsLeadTime" data-view="Number" data-title="Average lead time" data-moreinfo="days" style="background-color: #2e49f7"></div>
        </li>

        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="tvpPullRequestsOpen" data-view="Number" data-title="Open pull requests (TVP)" style="background-color: #f7941e"></div>
        </li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="tvpPullRequestsMerged" data-view="Number" data-title="Merged pull requests (TVP)" style="background-color: #f7941e"></div>
        </li>

        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="tvpPullRequestsLeadTime" data-view="Number" data-title="Average lead time" style="background-color: #f7941e" data-moreinfo="days"></div>
        </li>

        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="externalPullRequestsOpen" data-view="Number" data-title="Open pull requests (external)" style="background-color: #9c00ff"></div>
        </li>

        <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="externalPullRequestsMerged" data-view="Number" data-title="Merged pull requests (external)" style="background-color: #9c00ff"></div>
        </li>

        <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="externalPullRequestsLeadTime" data-view="Number" data-title="Average lead time" style="background-color: #9c00ff" data-moreinfo="days"></div>
        </li>
    </ul>
    <center><div>Pull requests from 01/06/14</div></center>
</div>