<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [426, 240]
    });
</script>

<% content_for :title do %>All time contributions<% end %>

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="totalOpenPullRequests" data-view="Number" data-title="Total open pull requests"></div>
        </li>

        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="totalMergedPullRequests" data-view="Number" data-title="Total pull requests merged"></div>
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="totalPullRequestsLeadTime" data-view="Number" data-title="Average lead time" data-moreinfo="days"></div>
        </li>

        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="nonTalPullRequestsOpen" data-view="Number" data-title="Open pull requests from outside TAL" style="background-color: #aa1100"></div>
        </li>

        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="nonTalPullRequestsMerged" data-view="Number" data-title="Merged pull requests from outside TAL" style="background-color: #aa1100"></div>
        </li>

        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="nonTalPullRequestsLeadTime" data-view="Number" data-title="Average lead time" style="background-color: #aa1100" data-moreinfo="days"></div>
        </li>

        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="nonFmtvpPullRequestsOpen" data-view="Number" data-title="Open pull requests from outside fmtvp" style="background-color: #f0c300"></div>
        </li>

        <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="nonFmtvpPullRequestsMerged" data-view="Number" data-title="Merged pull requests from outside fmtvp" style="background-color: #f0c300"></div>
        </li>

        <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="nonFmtvpPullRequestsLeadTime" data-view="Number" data-title="Average lead time" style="background-color: #f0c300" data-moreinfo="days"></div>
        </li>

    </ul>
</div>